<div class="main-div">


  <mat-card *ngIf="show" style="width: 50%">
    <mat-card-title>Your State Subscriptions</mat-card-title>

    <div *ngIf="showSuccess" style="text-align: center; margin: 10px;" id = "updated">Success! Updated :) </div>

    <mat-list>
      <mat-list-item>
        {{sinit1}}
      </mat-list-item>
      <mat-list-item>
        {{sinit2}}
      </mat-list-item>
      <mat-list-item>
        {{sinit3}}
      </mat-list-item>
    </mat-list>


    <mat-form-field>
      <mat-label>State Subscription 1</mat-label>
      <mat-select [(ngModel)]="state1" selected="California" name="state1">
        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>State Subscription 2</mat-label>
      <mat-select [(ngModel)]="state2" name="state1">
        <mat-option [value]="">N/A</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>State Subscription 3</mat-label>
      <mat-select [(ngModel)]="state3" name="state1">
        <mat-option [value]="">N/A</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
    </mat-form-field>



    <button (click)="updateSubscriptions()" style="width: 100%" mat-button>Update Subscriptions</button>
  </mat-card>




</div>
