body, html {
  background-color: #F4F4ED;
}

mat-card-title {
  text-align: center;
  padding: 5pt;
  margin: 2pt;
  border-radius: 5pt;
  color: #fff;
  background-color: #6d0000;
}

mat-toolbar {
  background-color: #334E58;
  color: #F4F4ED;
}

mat-toolbar > a:active, a:hover, a{
  color: #F4F4ED;
}


